@model IEnumerable<clinic_management.Models.Item>

@{
    ViewBag.Title = "Recover";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Recover</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <table class="table" id="tableItems">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.ActionLink("Recover", "Recover", new { id = item.ItemID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-3"></div>
</div>

<script>
    $(document).ready(function () {
        $('#tableItems').DataTable();
    });
</script>
