
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Inventory</h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#medicines">Medicines</a></li>
        <li><a data-toggle="tab" href="#utensils">Utensils</a></li>
    </ul>

    <div class="tab-content">
        <div id="medicines" class="tab-pane fade in active">
            <br />
            <div class="btn-group">
                <button type="button" class="btn btn-default">Add Supply</button>
                <button type="button" class="btn btn-default" disabled>Delete</button>
                <button type="button" class="btn btn-default">Refresh</button>
            </div>
            <br />
            <br />
            <table class="table" id="tableMedicines">
                <thead>
                    <tr>
                        <th>Supply ID</th>
                        <th>Medicine</th>
                        <th>Quantity</th>
                        <th>Recieved Date</th>
                        <th>Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="utensils" class="tab-pane fade">
            <br />
            <div class="btn-group">
                <button type="button" class="btn btn-default">Add Supply</button>
                <button type="button" class="btn btn-default" disabled>Delete</button>
                <button type="button" class="btn btn-default">Refresh</button>
            </div>
            <br />
            <br />
            <table class="table" id="tableUtensils">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                    </tr>
                    <tr>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tableMedicines').DataTable();
        $('#tableUtensils').DataTable();
    });
</script>